apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: rbac-service
  namespace: rbac
  labels:
    release: kube-prometheus
spec:
  selector:
    matchLabels:
      app: rbac-service
  namespaceSelector:
    matchNames:
      - rbac
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s

